@import "tailwindcss";

:root {
    --aspro-primary: #0B2F53;
    --aspro-primary-dark: #3BB3C4;
    --aspro-primary-light: #E9E2FF;

    --aspro-accent-blue: #2D9CDB;

    --aspro-success: #27AE60;
    --aspro-warning: #F2C94C;
    --aspro-danger: #EB5757;

    --aspro-dark: #1B1D24;
    --aspro-grey: #7E8299;
    --aspro-border: #E1E5EB;
    --aspro-light: #F8F9FC;
    --aspro-white: #FFFFFF;

    --aspro-font: "Inter", sans-serif;
}

/* ================================
   BASE OVERRIDES
================================ */
body {
    font-family: var(--aspro-font);
}

/* ================================
   CUSTOM COMPONENTS (OPTIONAL)
================================ */
.navbar-aspro {
    background: var(--aspro-white);
}

    .nav-link:hover {
        color: var(--aspro-primary);
    }

    .nav-link-active {
        color: var(--aspro-primary);
    }

    .nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        height: 2px;
        background: var(--aspro-primary);
        transition: width 0.25s ease;
    }

    .nav-link-active::after {
        width: 100%;
    }